a:hover {
    color: red
}


body {
    font-family: "DM Sans", Arial, sans-serif; /* Example font stack */
}

.contact-container {
    display: flex;
    align-items: space-between;
}

.experience-container {
    display: flex;
    justify-content: space-between;
}

.resumeBullet {
    color: black;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
  }

.contact-info {
    margin-right: 20px; 
}

#headshot {
    width: 100px;
    height: auto; 
    border-radius: 50%; 
}

p {
    line-height: 1.75; /* Increase the line spacing between paragraphs */
  }